* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;

}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243,243,243);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: rgb(243,243,243);
}

.instagram-phone img {
    height: 48rem;
    background-color: rgb(243,243,243);
}

.logo-instagram {
    height: 10rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /*vertical*/
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 85%;
    height: 23rem;
    padding: 0.6rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.group:nth-child(2) {
    margin-top: 5px;
    height: 5rem;
}

.logo-instagram {
    height: 7.5rem;
}

.foto-de-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50% solid #050505;
    overflow: hidden;
}

.foto-de-perfil img {
    height: 9rem;
    margin-bottom: 2rem;
}

.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin: -0.5rem;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
    margin-bottom: 5px;
}

.not-account {
    color: rgb(160,160,160);
    margin: auto;
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./1200px-Download_on_the_App_Store_Badge.svg.png');
}

.app-download:nth-child(2) {
    background-image: url('./disponivel-google-play-badge.png');
}

    /*media queries*/

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
}